nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(12, 5, 5);
    color: rgb(255, 255, 255);
}
.nav-links{
    width: -50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}